<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpp.threat_perception_platform.dao.SystemSecurityOptionMapper">

    <resultMap id="BaseResultMap" type="com.tpp.threat_perception_platform.pojo.SystemSecurityOption">
            <id property="systemSecurityOptionId" column="system_security_option_id" />
            <result property="noLMHash" column="no_LM_hash" />
            <result property="limitBlankPasswordUse" column="limit_blank_password_use" />
            <result property="restrictAnonymous" column="restrict_anonymous" />
            <result property="dontDisplayLastUserName" column="dont_display_last_user_name" />
            <result property="enablePlainTextPassword" column="enable_plain_text_password" />
            <result property="clearPageFileAtShutdown" column="clear_page_file_at_shutdown" />
            <result property="type" column="type" />
            <result property="macAddress" column="mac_address" />
    </resultMap>

    <sql id="Base_Column_List">
        system_security_option_id,no_LM_hash,limit_blank_password_use,restrict_anonymous,dont_display_last_user_name,enable_plain_text_password,
        clear_page_file_at_shutdown,type,mac_address
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from system_security_option
        where  system_security_option_id = #{systemSecurityOptionId}
    </select>
    <select id="selectByType" resultType="com.tpp.threat_perception_platform.pojo.SystemSecurityOption">
        select
        <include refid="Base_Column_List" />
            from system_security_option
        where type = #{type}
    </select>
    <select id="selectByTypeAndMac" resultType="com.tpp.threat_perception_platform.pojo.SystemSecurityOption">
        select
        <include refid="Base_Column_List" />
            from system_security_option
        where type = #{type} and mac_address = #{macAddress}
</select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from system_security_option
        where  system_security_option_id = #{systemSecurityOptionId}
    </delete>
    <insert id="insert" keyColumn="system_security_option_id" keyProperty="systemSecurityOptionId" parameterType="com.tpp.threat_perception_platform.pojo.SystemSecurityOption" useGeneratedKeys="true">
        insert into system_security_option
        ( system_security_option_id,no_LM_hash,limit_blank_password_use,restrict_anonymous,dont_display_last_user_name,enable_plain_text_password,
        clear_page_file_at_shutdown,type,mac_address)
        values (#{systemSecurityOptionId},#{noLMHash},#{limitBlankPasswordUse},#{restrictAnonymous},#{dontDisplayLastUserName},#{enablePlainTextPassword},
        #{clearPageFileAtShutdown},#{type},#{macAddress})
    </insert>
    <insert id="insertSelective" keyColumn="system_security_option_id" keyProperty="systemSecurityOptionId" parameterType="com.tpp.threat_perception_platform.pojo.SystemSecurityOption" useGeneratedKeys="true">
        insert into system_security_option
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="systemSecurityOptionId != null">system_security_option_id,</if>
                <if test="noLMHash != null">no_LM_hash,</if>
                <if test="limitBlankPasswordUse != null">limit_blank_password_use,</if>
                <if test="restrictAnonymous != null">restrict_anonymous,</if>
                <if test="dontDisplayLastUserName != null">dont_display_last_user_name,</if>
                <if test="enablePlainTextPassword != null">enable_plain_text_password,</if>
                <if test="clearPageFileAtShutdown != null">clear_page_file_at_shutdown,</if>
                <if test="type != null">type,</if>
                <if test="macAddress != null">mac_address,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="systemSecurityOptionId != null">#{systemSecurityOptionId},</if>
                <if test="noLMHash != null">#{noLMHash},</if>
                <if test="limitBlankPasswordUse != null">#{limitBlankPasswordUse},</if>
                <if test="restrictAnonymous != null">#{restrictAnonymous},</if>
                <if test="dontDisplayLastUserName != null">#{dontDisplayLastUserName},</if>
                <if test="enablePlainTextPassword != null">#{enablePlainTextPassword},</if>
                <if test="clearPageFileAtShutdown != null">#{clearPageFileAtShutdown},</if>
                <if test="type != null">#{type},</if>
                <if test="macAddress != null">#{macAddress},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tpp.threat_perception_platform.pojo.SystemSecurityOption">
        update system_security_option
        <set>
                <if test="noLMHash != null">
                    no_LM_hash = #{noLMHash},
                </if>
                <if test="limitBlankPasswordUse != null">
                    limit_blank_password_use = #{limitBlankPasswordUse},
                </if>
                <if test="restrictAnonymous != null">
                    restrict_anonymous = #{restrictAnonymous},
                </if>
                <if test="dontDisplayLastUserName != null">
                    dont_display_last_user_name = #{dontDisplayLastUserName},
                </if>
                <if test="enablePlainTextPassword != null">
                    enable_plain_text_password = #{enablePlainTextPassword},
                </if>
                <if test="clearPageFileAtShutdown != null">
                    clear_page_file_at_shutdown = #{clearPageFileAtShutdown},
                </if>
                <if test="type != null">
                    type = #{type},
                </if>
                <if test="macAddress != null">
                    mac_address = #{macAddress},
                </if>
        </set>
        where   system_security_option_id = #{systemSecurityOptionId}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tpp.threat_perception_platform.pojo.SystemSecurityOption">
        update system_security_option
        set
            no_LM_hash =  #{noLMHash},
            limit_blank_password_use =  #{limitBlankPasswordUse},
            restrict_anonymous =  #{restrictAnonymous},
            dont_display_last_user_name =  #{dontDisplayLastUserName},
            enable_plain_text_password =  #{enablePlainTextPassword},
            clear_page_file_at_shutdown =  #{clearPageFileAtShutdown},
            type =  #{type},
            mac_address =  #{macAddress}
        where   system_security_option_id = #{systemSecurityOptionId}
    </update>
</mapper>
